<div id="share-by-email-<%=w.id%>" class="modal fade text-center" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <hr>
      <h4 class="modal-title text-muted">Send this webshot to my friend</h4>
      <div class="modal-body">
        <form>
          <input type="hidden" value="<%=w.id%>" name="id">
          <input placeholder="mybestfriend@email.com" style="width: 300px;" type="text" name="email">

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary share-by-email-submit" data-from="#share-by-email-<%=w.id%>" data-to="<%=share_by_email_path%>">Send email</button>
      </div>
    </div>

    
    
  </div>
</div>